{% extends "base.html" %}

{% block header %}
    <h1>Survey Question</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('answer') }}">
        <p>{{ question.question }}</p>
        {% for choice in question.choices %}
            <label>
                <input type="radio" name="answer" value="{{ choice }}"> {{ choice }}
            </label><br>
        {% endfor %}
        <input type="hidden" name="qid" value="{{ qid }}">
        <button type="submit">Submit Answer</button>
    </form>
{% endblock %}
